<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header class="header flex">
      <a href="/"> <h1>LOGO</h1> </a>
      <a href="/users/new">
        <button class="button">Add User</button>
      </a>
    </header>
    <main>
      <section class="flex">
        <% users.forEach(user => { %>
        <div class="card">
          <h2><%= user.name %></h2>
          <p><%= user.email %></p>
          <a href="/users/<%= user._id %>">More details..</a>
        </div>
        <% }) %>
      </section>
    </main>
  </body>
</html>
